<div class="container-home container-fluide">
    <div class="rectangle" id="rectangle">
      <h1 class="ml15">
        <span class="word">Pierre</span>
        <span class="word">Redier</span>
      </h1>
      <h1>
        <span
          class="txt-rotate"
          data-period="2000"
          data-rotate='[ "Ux Ui Designer", "Designer-Graphiste", "Optimiste" ]'></span>
      </h1>
    </div>
    </div>
</div>