// Place all the styles related to the logo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left{
    width: 80%;
}

.img{
    max-width: 100%;
}

.right{
}

.blo{
    width: 70%;
    margin: 6em auto 0 auto;
    display: flex;
}

.bli{
    border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.title{
}

p{
    width: 60%;
    margin-top: 50px;
}

.b{
    margin-left: 15%;
}

.count{
    display: none;
}


@media screen and (min-width: 200px) and (max-width: 1090px) {
    .blo{
        width: 70%;
        margin: 6em auto 0 auto;
        display: block;
    }

    .left{
        width: 80%;
        margin: 0 auto;
    }

    .right{
        margin: 0 auto;
        width: 80%;
    }

    .title{
        text-align: center;
        margin-top: 10px;
    }

    p{
        width: 100%;
        margin-top: 10px;
        text-align: justify;
    }
    
    .b{
        margin-left: 0%;
        margin: 0 auto;
    }
  }