<nav class="navbar d-flex justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="/app/assets/images/Logo Pierre Redier.png" width="30" height="30" alt="">
  </a>
  <ul class="d-flex">
    <li class="item-nav" id="bla"><%= link_to "Logo", logo_index_path %></li>
    <li class="item-nav"><%= link_to "Cover", cover_index_path %></li>
    <li class="item-nav">IdentitéVisuelle</li>
    <li>Infographie</li>
  <ul>
</nav>